<div>
  <div class="form-group">
    <label for="zomeHeight">Hauteur du zome (en cm)</label>
    <input type="number" class="form-control" id="zomeHeight" ng-model="genShape.zomeHeight" ng-change="genShape.changeHeight()"></input>
  </div>
  <div class="form-group">
    <label for="zomeRadius">Rayon du zome (en cm)</label>
    <input type="number" class="form-control" id="zomeRadius" ng-model="genShape.zomeRadius" ng-change="genShape.changeRadius()"></input>
  </div>
  <div class="form-inline">
    <div class="form-group">
      <label for="zomeCourbureX">Courbure X (en cm)</label>
      <input type="number" class="form-control" id="zomeCourbureX" ng-model="genShape.parameterPoint.x" ng-change="genShape.changeParameterPoint()"></input>
    </div>
    <div class="form-group">
      <label for="zomeCourbureY">Courbure Y (en cm)</label>
      <input type="number" class="form-control" id="zomeCourbureY" ng-model="genShape.parameterPoint.y" ng-change="genShape.changeParameterPoint()"></input>
    </div>
  </div>
</div>
