<div>
   <div class="form-inline">
     <label for="stepRepartition" >View mesh</label>
     <div class="checkbox">
       <label>
         <input type="checkbox" id="stepRepartition" ng-model="zomeEdge.material.wireframe"></input>
       </label>
     </div>
   </div>
  <!--
    <div class="form-group">
      <label for="eyeX">Yeux X </label>
      <input type="number" class="form-control" id="eyeX" ng-model="zomeEdge.eye.x" ng-change="zomeEdge.render()"></input>
    </div>
    <div class="form-group">
      <label for="eyeY">Yeux Y</label>
      <input type="number" class="form-control" id="eyeY" ng-model="zomeEdge.eye.y" ng-change="zomeEdge.render()"></input>
    </div>
    <div class="form-group">
      <label for="eyeZ">Yeux Z</label>
      <input type="number" class="form-control" id="eyeZ" ng-model="zomeEdge.eye.z" ng-change="zomeEdge.render()"></input>
    </div>
  </div>-->
  Visualisez grossierement le future zome.
</div>
